.App {
  width: 50%;
  margin: 0 auto;
  border: 3px solid green;
  padding: 50px;

  vertical-align: middle;
}

.App:hover {
  box-shadow: 12px 12px 2px 1px rgba(65, 65, 66, 0.2);
}

h1 {
  text-align: center;
}
